.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;
  width: 100%;
}
.list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-black);
  border: 1px solid var(--grey);
  font-size: 15px;
  color: var(--pale);
  text-decoration: none;
  transition: background 0.2s ease;
}

.list a > * {
  flex: 1;
}

.flightIata {
  text-align: left;
}
.time {
  text-align: right;
}


.list a:hover {
  background: var(--darkGrey);
}
.list strong {
  font-size: 25px;
  font-weight: 400;
}
